extra/*

*.pyc
.*.swp

test/*
pychipix/*.pyc
pychipix/*.pyo
pychipix/*.*.swp

pychipix/core/.pyc
pychipix/core/.pyo
pychipix/core/.*.swp

pychipix/gui/.pyc
pychipix/gui/.pyo
pychipix/gui/.*.swp

user/data/*
